<div class="col-12 col-12-narrower">
  <h2>Resend confirmation instructions</h2>
</div>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row gtr-uniform">
    <div class="col-7 col-12-narrower">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>
    <div class="col-7 col-12-narrower">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  </div>
<% end %>
<div class="col-12 col-12-narrower">
  <hr>
</div>
<%= render "devise/shared/links" %>
