<p id="notice"><%= notice %></p>

<h1>Single Trips</h1>

<table>
  <thead>
    <tr>
      <th>N passeggeri</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @single_trips.each do |single_trip| %>
      <tr>
        <td><%= single_trip.n_passeggeri %></td>
        <td><%= link_to 'Show', single_trip %></td>
        <td><%= link_to 'Edit', edit_single_trip_path(single_trip) %></td>
        <td><%= link_to 'Destroy', single_trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Single Trip', new_single_trip_path %>
