<%= form_with(model: user, local: true) do |form| %>
  <div class="row gtr-uniform">
    <% if user.errors.any? %>
      <div id="error_explanation" class="col-12">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-4 col-12-narrower">
      <%= form.text_field :email, placeholder: "Email" %>
    </div>
    <div class="col-4 col-12-narrower">
      <%= form.text_field :username, placeholder: "Username", :autocomplete => :off %>
    </div>
    <div class="col-4 col-12-narrower">
      <%= form.password_field :password, placeholder: "Password", :autocomplete => :off %>
    </div>
    <div class="col-4 col-12-narrower">
      <%= form.text_field :nome, placeholder: "Nome"  %>
    </div>
    <div class="col-4 col-12-narrower">
      <%= form.text_field :cognome, placeholder: "Cognome"  %>
    </div>
    <div class="col-4 col-12-narrower">
      <%= form.text_field :data_di_nascita, placeholder: "Data di Nascita", onfocus: "(this.type='date')", onblur: "(this.type='text')" %>
    </div>
    <div class="col-4 col-12-narrower">
      <%= form.text_field :cellulare, placeholder: "Cellulare"  %>
    </div>
    <div class="col-4 col-12-narrower">
      <%= form.text_field :indirizzo, placeholder: "Indirizzo" %>
    </div>
    <div class="col-4 col-12-narrower">
      <%= form.label :"Carica una foto" %>
      <%= form.file_field :picture %>
    </div>
    <div class="col-12 col-12-narrower">
      <%= form.hidden_field :deleted %>
    </div>
    <div class="actions col-6 col-12-narrower">
      <%= form.submit "Registrati"%>
    </div>
  </div>
<% end %>
