<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cognome %>
    <%= form.text_field :cognome %>
  </div>

  <div class="field">
    <%= form.label :data_di_nascita %>
    <%= form.date_field :data_di_nascita %>
  </div>

  <div class="field">
    <%= form.label :cellulare %>
    <%= form.text_field :cellulare %>
  </div>

  <div class="field">
    <%= form.label :indirizzo %>
    <%= form.text_area :indirizzo %>
  </div>

  <div class="field">
    <%= form.label :url_foto %>
    <%= form.text_field :url_foto %>
  </div>

  <div class="field">
    <%= form.label :deleted %>
    <%= form.check_box :deleted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
