<div class="col-12 col-12-narrower">
  <h2>
    <strong>Ecco le tue prenotazioni!</strong>
  </h2>
</div>

<table>
  <thead>
  <tr>
    <th>Città di Partenza</th>
    <th>Luogo di ritrovo</th>
    <th>Data e ora partenza</th>
    <th>Città di arrivo</th>
    <th>Data e ora arrivo</th>
    <th>Costo</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% routes=@user.find_bookings(current_user.id)
     routes.each do |route| %>
    <tr>
      <td><%= route.citta_partenza %></td>
      <td><%= route.luogo_ritrovo %></td>
      <td><%= route.data_ora_partenza %></td>
      <td><%= route.citta_arrivo %></td>
      <td><%= route.data_ora_arrivo.strftime("%d/%m/%y") %></td>
      <td><%= route.costo %></td>
      <td><%= link_to 'Dettagli', detail_routes_path(:multitrip => false, :id => route.id)%></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<div class="col-7 col-0-mobilep"></div>
<div class="col-3 col-12-mobilep">
  <%= link_to 'Cerca nuove tratte!', new_search_path, class:"button" %>
</div>
<div class="col-2 col-12-mobilep">
  <%= link_to 'Back', :back, class:"button special" %>
</div>
