<!-- Pagina dei dettagli della route prenotata -->
<div class="col-2 col-4-mobilep ">
  <%= link_to 'Back', user_bookings_path, class: "button icon solid fa-chevron-left"%>
</div>
<% if @journey_ok %>
  <!-- dettagli della route-->
  <div class="col-10 col-8-mobilep">
    <h2>La tua prenotazione</h2>
  </div>
  <div class="col-12 col-12-mobilep">
    <br>
    <% if notice %>
      <h2 class="error"><%= notice %></h2>
    <% end %>
  </div>
  <% @routes.each_with_index do | route , index | %>
    <div class="col-5 col-12-mobilep">
      <%= render 'detail_route', route: route, driver: @ute_drivers[index] %>
      <%if @routes.length > 1 && route.data_ora_partenza > DateTime.current%>
        <%= link_to 'Annulla prenotazione', stage_path(j_id: params[:j_id], r_id: route.id), method: :delete, data: { confirm: 'Sicuro di voler annullare questa prenotazione?' }, class: "button special" ,title: 'Annulla prenotazione'%>
      <%end %>
    </div>
  <%end%>
  <%if @routes.first.data_ora_partenza > DateTime.current%>
    <div class="col-12 col-12-mobile"><br></div>
    <div class="col-12 col-12-mobile">
      <%= link_to 'Annulla il viaggio', journey_path(id: @journey.id),method: :delete, data: { confirm: 'Sicuro di voler annullare la prenotazione?' }, class: "button special" ,title: 'Cerca nuovo viaggio' %>
    </div>
  <%end %>
<%else %>
  <div class="col-10 col-8-mobilep">
    <h2>Questa non è la tua prenotazione!</h2>
  </div>
<%end %>
