<!-- Pagina dei dettagli della route prenotata -->

<div class="col-2 col-4-mobilep ">
  <%= link_to 'Back', user_bookings_path, class: "button icon solid fa-chevron-left"%>
</div>
<!-- dettagli della route-->
<div class="col-10 col-8-mobilep">
  <h2>La tua prenotazione</h2>
</div>
<div class="col-12 col-12-mobilep">
  <br>
</div>
<div class="col-12 col-12-mobilep">
  <h4 class="col-4 col-12-narrower">
    <strong>Citta partenza:</strong>
    <%= @route.citta_partenza %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Luogo ritrovo:</strong>
    <%= @route.luogo_ritrovo %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Data ora partenza:</strong>
    <%= @route.data_ora_partenza.strftime("il %d-%m-%Y alle %H:%M:%S") %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Citta arrivo:</strong>
    <%= @route.citta_arrivo %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Data ora arrivo:</strong>
    <%= @route.data_ora_arrivo.strftime("il %d-%m-%Y alle %H:%M:%S") %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Costo:</strong>
    <%= @route.costo %>
  </h4>

  <h4 class="col-4 col-12-narrower">
    <strong>Tempo di percorrenza:</strong>
    <%= @route.tempo_percorrenza %>
  </h4>

  <h4 class="col-4 col-12-narrower">
    <strong>Posti prenotati</strong>
    <%= @route.n_passeggeri %>
  </h4>
  <!-- link per la pagina del driver-->
  <h4 class="col-4 col-12-narrower">
    <strong>Driver:</strong>
    <%=link_to @driver.nome + @driver.cognome, user_path(id:@driver.id)%>
  </h4>
</div>
<!-- passaggio alla chat con il driver-->
<div class="col-12 col-12-mobilep"><br></div>
<%= form_with(model: Chat, local: true, method: "post") do |form| %>
  <%= form.hidden_field :user_2_id, :value => @route.driver_id %>
  <div class="col-12 col-12-mobilep">
    <%= form.submit "Chatta con " + @driver.nome%>
  </div>
  <div class="col-12 col-12-mobile">
    <h2 class="error"> l'annulla prenotazione non funziona </h2>
    <%if @route.data_ora_partenza > DateTime.current%>
      <%= link_to 'Annulla prenotazione', root_path, method: :delete, data: { confirm: 'Sicuro di voler annullare la prenotazione a questo viaggio?' }, class: "button special" ,title: 'Annulla prenotazione'%>
      <%#= link_to 'Annulla prenotazione', journey_path(id: params[:j_id], r_id: params[:id]), method: :delete, data: { confirm: 'Sicuro di voler annullare la prenotazione a questo viaggio?' }, class: "button special" ,title: 'Annulla prenotazione'%>
    <%end %>
  </div>
<%end%>
