
<div class="row gtr-uniform">
  <div class="col-4 col-12-narrower">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>
  <div class="col-4 col-12-narrower">
    <strong>Username:</strong>
    <%= @user.username %>
  </div>
  <div class="col-4 col-12-narrower">
    <strong>Nome:</strong>
    <%= @user.nome %>
  </div>
  <div class="col-4 col-12-narrower">
    <strong>Cognome:</strong>
    <%= @user.cognome %>
  </div>
  <div class="col-4 col-12-narrower">
    <strong>Data di nascita:</strong>
    <%= @user.data_di_nascita %>
  </div>
  <div class="col-4 col-12-narrower">
    <strong>Cellulare:</strong>
    <%= @user.cellulare %>
  </div>
  <div class="col-4 col-12-narrower">
    <strong>Indirizzo:</strong>
    <%= @user.indirizzo %>
  </div>
  <div class="col-4 col-12-narrower">
    <strong>Url foto:</strong>
    <%= @user.url_foto %>
  </div>
</div>
<hr>
<div class="col-4 col-12-narrower">
  <%= link_to 'Edit', edit_user_registration_path(@user) %> |
</div>
<div class="col-4 col-12-narrower">
  <%= link_to 'Back', users_path %>
</div>
