<!--Pagina profilo utente-->
<div class="row gtr-uniform">
  <%if @user.avatar.url != nil%>
    <h4 class="image col-12 col-12-narrower">
      <%=image_tag(@user.avatar.url, size: "160") %>
    </h4>
  <%else %>
    <h4 class="col-12 col-12-narrower">
      Nessuna immagine inserita
    </h4>
  <%end %>
  <h4 class="col-4 col-12-narrower">
    <strong>Nome:</strong>
    <%= @user.nome %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Cognome:</strong>
    <%= @user.cognome %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Username:</strong>
    <%= @user.username %>
  </h4>
  <%if current_user.id == @user.id %>
    <h4 class="col-4 col-12-narrower">
      <strong>Email:</strong>
      <%= @user.email %>
    </h4>
    <h4 class="col-4 col-12-narrower">
      <strong>Data di nascita:</strong>
      <%= @user.data_di_nascita %>
    </h4>
    <h4 class="col-4 col-12-narrower">
      <strong>Cellulare:</strong>
      <%= @user.cellulare %>
    </h4>
    <h4 class="col-4 col-12-narrower">
      <strong>Indirizzo:</strong>
      <%= @user.indirizzo %>
    </h4>
    <h4 class="col-8 col-12-mobilep">
      <strong><%= link_to 'Visualizza i tuoi metodi di pagamento', user_pay_methods_path(@user)%></strong>
    </h4>
  <%end %>
  <hr class="col-12 col-12-mobilep">
  <div class="col-6 col-12-narrower">
    <h4><strong>Rating medio autostoppista</strong></h4>
    <%if @user.hitch_hiker_rating==nil %>
      Nessuna valutazione presente!
    <%else %>
      <%=@user.hitch_hiker_rating.round(2)%>
    <%end %>
  </div>
 <%if @user.id != current_user.id %>
  <div class="col-6 col-12-narrower">
    <%= link_to 'Guarda i voti di questo autostoppista', ratings_path(user_id: @user.id), class:'button' %>
  </div>
    <%end %>
  <%if @user.driver_id? %>
    <div class="col-6 col-12-narrower">
      <h4><strong>Rating medio Automobilista</strong></h4>
      <%ratingDriver= @user.find_rating_driver%>
      <%if ratingDriver==nil %>
        Nessuna valutazione presente!
      <%else %>
        <%=ratingDriver.round(2)%>
      <%end %>
    </div>
    <%if @user.id != current_user.id %>
    <div class="col-6 col-12-narrower">
      <%= link_to 'Guarda le recensioni di questo guidatore', reviews_path(user_id: @user.id), class:'button' %>
    </div>
  <%end%>
  <%end%>
</div>
<hr class="col-12 col-12-mobilep">
<%if @user.id == current_user.id %>
  <div class="col-7 col-0-mobilep"></div>
  <div class="col-2 col-12-mobilep">
    <%= link_to 'Edit', edit_user_registration_path , class:'button'%>
  </div>
  <div class="col-3 col-12-mobilep">
    <%= link_to 'Back', root_path, class:'button special' %>
  </div>
<%else %>
  <div class="col-7 col-0-mobilep"></div>
  <div class="col-1 col-12-mobilep">
    <%= link_to 'Back', root_path, class:'button special' %>
  </div>
<%end %>