
<div class="row gtr-uniform">
  <h4 class="col-6 col-12-narrower">
    <strong>Email:</strong>
    <%= @user.email %>
  </h4>
  <h4 class="col-6 col-12-narrower">
    <strong>Username:</strong>
    <%= @user.username %>
  </h4>
  <h4 class="col-6 col-12-narrower">
    <strong>Nome:</strong>
    <%= @user.nome %>
  </h4>
  <h4 class="col-6 col-12-narrower">
    <strong>Cognome:</strong>
    <%= @user.cognome %>
  </h4>
  <h4 class="col-6 col-12-narrower">
    <strong>Data di nascita:</strong>
    <%= @user.data_di_nascita %>
  </h4>
  <h4 class="col-6 col-12-narrower">
    <strong>Cellulare:</strong>
    <%= @user.cellulare %>
  </h4>
  <h4 class="col-6 col-12-narrower">
    <strong>Indirizzo:</strong>
    <%= @user.indirizzo %>
  </h4>
  <h4 class="col-6 col-12-narrower">
    <strong>Url foto:</strong>
    <%= @user.url_foto %>
  </h4>
</div>
<hr>
<div class="col-7 col-0-narrower"></div>
<div class="col-2 col-12-narrower">
  <%= link_to 'Edit', edit_user_registration_path(@user) , class:'button'%>
</div>
<div class="col-1 col-12-narrower">
  <%= link_to 'Back', users_path, class:'button' %>
</div>
