
<div class="row gtr-uniform">
  <%if @user.avatar.url != nil%>
    <h4 class="image col-12 col-12-narrower">
      <%=image_tag(@user.avatar.url, size: "160") %>
    </h4>
  <%else %>
    <h4 class="col-12 col-12-narrower">
      Nessuna immagine inserita
    </h4>
  <%end %>
  <h4 class="col-4 col-12-narrower">
    <strong>Email:</strong>
    <%= @user.email %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Username:</strong>
    <%= @user.username %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Nome:</strong>
    <%= @user.nome %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Cognome:</strong>
    <%= @user.cognome %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Data di nascita:</strong>
    <%= @user.data_di_nascita %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Cellulare:</strong>
    <%= @user.cellulare %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Indirizzo:</strong>
    <%= @user.indirizzo %>
  </h4>
  <h4 class="col-4 col-12-narrower">
    <strong>Rating medio autostoppista<br/></strong>
    <%if @user.hitch_hiker_rating==nil %>
      Non hai ancora nessun rating!
    <%else %>
      <%=@user.hitch_hiker_rating%>
    <%end %>
  </h4>
  <%if @user.driver_id? %>
    <h4 class="col-4 col-12-narrower">
      <strong>Rating medio Automobilista<br/></strong>
      <%ratingDriver= @user.find_rating_driver%>
      <%if ratingDriver==nil %>
        Non hai ancora nessun rating!
      <%else %>
        <%=ratingDriver%>
      <%end %>

    </h4>
  <%end %>
</div>
<div class="col-7 col-0-narrower"></div>
<div class="col-2 col-12-narrower">
  <%= link_to 'Edit', edit_user_registration_path(@user) , class:'button'%>
</div>
<div class="col-1 col-12-narrower">
  <%= link_to 'Back', :back, class:'button special' %>
</div>
