<%= form_with model:[@user, @pay_method], local: true, html: {class: "col-12 col-12-narrower"} do |form| %>
  <% if pay_method.errors.any? %>
    <div id="error_explanation" class="col-12 col-12-narrower error">
      <h2><%= pluralize(pay_method.errors.count, "Error") %>:</h2>
      <ul>
        <% pay_method.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-4 col-12-mobilep">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :intestatario %>
    <%= form.text_field :intestatario %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :mese_scadenza, 'Mese Scadenza (mm)'%>
    <%= form.number_field :mese_scadenza %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :anno_scadenza, 'Anno scadenza (aa)' %>
    <%= form.number_field :anno_scadenza %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :cvv %>
    <%= form.number_field :cvv %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id %>

  <hr class="col-12 col-12-mobilep">

  <div class="col-4 col-12-mobilep">
    <%= form.submit "inserisci" %>
    <%= link_to 'Back', user_pay_methods_path, class:'button special' %>
  </div>
<% end %>
