<div class="col-12 col-12-narrower">
  <h2>
    <strong>Ecco i tuoi metodi di pagamento!</strong>
  </h2>
</div>

<table>
  <thead>
  <tr>
    <th>Numero Carta</th>
    <th>Intestatario</th>
    <th>scadenza</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <%i=0 %>
  <% @pay_methods.each do |pay_method| %>
    <tr>
      <td><%= pay_method.numero %></td>
      <td><%= pay_method.intestatario %></td>
      <td><%= pay_method.mese_scadenza %> / <%= pay_method.anno_scadenza %></td>
      <%if @scaduti[i] %>
        <td class="error">Metodo di pagamento scaduto</td>
      <%else%>
        <td colspan="1"></td>
      <% end %>
      <% i+=1 %>
      <td><%= link_to 'Modifica', edit_user_pay_method_path(current_user.id, pay_method.id), class: "button"  %></td>
      <td><%= link_to 'Elimina metodo', user_pay_method_path(current_user.id, pay_method.id), method: :delete, data: { confirm: 'Sciruo di voler eliminare questo metodo di pagamento?' }, class: "button special"  %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<div class="col-5 col-12-mobile">
  <%= link_to 'Aggiungi un metodo di pagamento', new_user_pay_method_path, class: "button" %>
</div>
<div class="col-7 col-12-mobile">
  <%= link_to 'Back', user_path(current_user), class: "button special" %>
</div>