
<p>
  <strong>Numero:</strong>
  <%= @pay_method.numero %>
</p>

<p>
  <strong>Intestatario:</strong>
  <%= @pay_method.intestatario %>
</p>

<p>
  <strong>Scadenza:</strong>
  <%= @pay_method.mese_scadenza + '/' + @pay_method.anno_scadenza %>
</p>



<%= link_to 'Edit', edit_driver_vehicle_path(@driver, @vehicle) %> |
<%= link_to 'Back', driver_vehicles_path(@driver) %>
