<p>
  <strong>Numero:</strong>
  <%= @pay_method.numero %>
</p>

<p>
  <strong>Intestatario:</strong>
  <%= @pay_method.intestatario %>
</p>

<p>
  <strong>Scadenza:</strong>
  <%= @pay_method.mese_scadenza%> / <%= @pay_method.anno_scadenza %>
</p>



<%= link_to 'Edit', edit_user_pay_method_path(current_user.id, @pay_method.id) %>
<%= link_to 'Back', user_pay_methods_path(@user) %>
