<%if @pay_method.user_id == current_user.id %>
<p>
  <strong>Numero:</strong>
  <%= @pay_method.numero %>
</p>

<p>
  <strong>Intestatario:</strong>
  <%= @pay_method.intestatario %>
</p>

<p>
  <strong>Scadenza:</strong>
  <%= @pay_method.mese_scadenza%> / <%= @pay_method.anno_scadenza %>
</p>
<%if @scaduto %>
  <p class="error">Metodo di pagamento scaduto!</p>
<% end %>


<%= link_to 'Edit', edit_user_pay_method_path(current_user.id, @pay_method.id) %>
<%= link_to 'Back', :back %>
<%else %>
  <h2 class="error">Non puoi visualizzare questo metodo di pagamento!</h2>
<%end %>