<%= form_for @rating, url:ratings_path, method: "post", html: {class: "col-12 col-12-narrower"} do |form| %>
  <%unless @rating.nil?
    if @rating.errors.any? %>
    <div id="error_explanation" class="col-12 col-12-mobilep">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
        <% @rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end
  end%>

  <div class="col-12 col-12-mobilep">
    Assegna un voto da 1 a 5 all'autostoppista, dove 1 &egrave; il minimo e 5 il massimo, ricorda che poi tutti potranno vedere il tuo voto
  </div>
  <div class="col-12 col-12-mobilep"><br></div>
  <div class="col-12 col-12-mobilep">
    <% 1.upto(5) do |i| %>
      <%= form.radio_button :vote, i %>
      <%= form.label("vote_"+i.to_s, i) %>
    <% end %>
  </div>
  <div class="col-12 col-12-mobilep"><br></div>
  <%= form.hidden_field :user_id, :value => params[:user_id] %>
  <div class="col-12 col-12-mobilep">
    <%= form.submit "Conferma il voto" %>
  </div>
<% end %>
