<div class="col-2 col-4-mobilep ">
  <%= link_to 'Back', user_path(@user.id), class: "button icon solid fa-chevron-left"%>
</div>
<div class="col-5 col-8-mobilep">
  <h2>Valutazioni autostoppista</h2>
</div>
<div class="col-5 col-12-mobilep">
  <%= link_to 'Dai un voto a '+@user.nome + ' ' + @user.cognome, new_rating_path(user_id: @user.id), {class: 'button'} %>
</div>
<hr class="col-12 col-12-mobilep">

<% if @ratings.present?
     @ratings.each do |rating| %>
    <div class="col-12 col-12-mobilep">
      <%= rating.nome %> in data: <%= rating.data.strftime("%d-%m-%Y alle: %H:%M:%S") %>
    </div>
    <div class="col-12 col-12-mobilep">
      <h4><strong>voto: <%= rating.vote %> su 5</strong></h4>
    </div>
    <div class="col-12 col-12-mobilep"><br></div>
  <% end
     else%>
  <div class="col-12 col-12-mobilep">
    <h3>Non c'&egrave; ancora nessun voto qua <i class="far fa-sad-tear fa-3x"></i></h3>
    <h3>Dai tu la prima valutazione a questo autostoppista cliccando sul bottone in alto</h3>
  </div>
<%end%>