<div class="col-2 col-4-mobilep ">
  <%= link_to 'Back', user_path(params[:format]), class: "button icon solid fa-chevron-left"%>
</div>
<div class="col-3 col-8-mobilep">
  <h2>Valutazioni</h2>
</div>
<div class="col-7 col-12-mobilep">
  <%= link_to 'Dai un voto a '+@user.nome + ' ' + @user.cognome, new_review_path(params[:format]), {class: 'button'} %>
</div>
<hr class="col-12 col-12-mobilep">

    <% unless @ratings.nil?
         @ratings.each do |rating| %>

        <%= rating.data %>
        <%= rating.vote %>

    <% end
    end%>

<br>

<%= link_to 'New Rating', new_rating_path, {class: 'button'} %>
