<%= form_with(model: chat, local: true, method: "post") do |form| %>
  <% if chat.errors.any? %>
    <div id="error_explanation" class="col-12 col-12-narrower">
      <h2><%= pluralize(chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
        <% chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-12 col-12-narrower">
    <%= form.text_field :user_2_id  %>
  </div>

  <div class="col-12 col-12-narrower">
    <%= form.submit %>
  </div>
<% end %>
