<div class="col-2 col-4-mobilep ">
  <%= link_to 'Back', root_path, class: "button icon solid fa-chevron-left"%>
</div>
<div class="col-10 col-8-mobilep">
  <h2>Le tue chat</h2>
</div>
<div class="col-12 col-12-mobilep">
  <br>
</div>

<% unless @chat_message.nil? %>
<div id="error_explanation" class="col-12 col-12-narrower">
      <h2 style="color: #B00100"><%=  @chat_message  %></h2>
</div>
<%  end %>

<% if @chats.present? %>
  <% @chats.each do |chat| %>
    <div class="col-10 col-9-mobile">
      <% if current_user.id == chat.user_2_id %>
        <h3><%= link_to 'Apri la chat con ' + chat.user_1.nome + ' ' + chat.user_1.cognome, chat_messagges_path(chat) %></h3>
      <%else %>
        <h3><%= link_to 'Apri la chat con ' + chat.user_2.nome + ' ' + chat.user_2.cognome, chat_messagges_path(chat) %></h3>
      <%end %>
    </div>
    <div class="col-2 col-3-mobile">
      <%= link_to '', chat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'far fa-trash-alt fa-3x', title: 'Elimina questa chat'%>
    </div>
    <div class="col-12 col-12-mobilep">
      Ultimo aggiornamento il <%= chat.updated_at.strftime("%d-%m-%Y alle %H:%M:%S") %>
    </div>
    <div class="col-12 col-12-mobilep">
      <hr>
    </div>

  <%end
    else %>
  <div class="col-12 col-12-mobilep">
    <h3>Non c'&egrave; alcuna chat, se hai bisogno di parlare con qualcuno puoi farlo dalla sua pagina utente</h3>
  </div>
<% end %>

<!-
<div class="col-12 col-12-mobilep">
  <%= link_to 'New Chat', new_chat_path %> <p>Temporaneo da rimuovere</p>
</div>
-->