<%if !@messagges.nil? && !@messagges.is_a?(String)%>
  <div class="col-2 col-4-mobilep ">
    <%= link_to 'Back', chats_path, class: "button icon solid fa-chevron-left"%>
  </div>
  <div class="col-10 col-8-mobilep">
    <h3>Chat con <%=@chatter[0]+' '+@chatter[1] %></h3>
  </div>
  <% unless notice.nil? %>
    <%if notice == "Messagge error" %>
      <div id="error_explanation" class="col-12 col-12-mobilep">
        <h2 style="color: #B00100" class="error"><%= notice %></h2>
      </div>
    <%end %>
  <% end %>
  <div class="col-12 col-12-mobilep"><hr></div>

  <% if @messagges.present?%>
    <%if @messagges.length == 15 %>
      <div class="col-4 col-1-mobilep"></div>
      <div class="col-4 col-10-mobilep">
        <%= link_to 'Mostra anche i messaggi vecchi', chat_messagges_path(params[:chat_id], limit: "infinite"), class: "button" %>
      </div>
      <div class="col-4 col-1-mobilep"></div>
      <div class="col-12 col-12-mobilep"><br></div>
    <%end
      @messagges.each do |messagge| %>
      <%if messagge.user_id == current_user.id %>
        <div class="col-6 col-5-mobilep"></div>
        <div class="col-6 col-7-mobilep">
          <div class="message-content">
            <div class="align-right">
              <p>
                <%= messagge.testo %>
              </p>
              <div>
                <p>
                  <%= messagge.data_ora.strftime("%d-%m-%Y %H:%M:%S") %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <%else %>
        <div class="col-6 col-7-mobilep">
          <div class="message-content">
            <p>
              <%=@chatter[0]+': '+messagge.testo %>
            </p>
            <div class="align-right">
              <small>
                <%= messagge.data_ora.strftime("%d-%m-%Y %H:%M:%S") %>
              </small>
            </div>
          </div>
        </div>
        <div class="col-6 col-5-mobilep"></div>
      <%end
        end
        else%>
    <div class="col-12 col-12-mobilep">
      <h3>Non c'&egrave; ancora nessun messaggio qua <i class="far fa-sad-tear fa-3x"></i></h3>
    </div>
  <%end %>
  <div class="col-12 col-12-mobilep"><hr></div>

  <%= render 'form', messagge: @messagge %>
<% else
     if @messagges.is_a?(String) && @messagges == "nothing"%>
    <div class="col-12 col-12-mobilep align-center">
      <h2>Chat id not in DB, what are you trying to do?</h2>
    </div>
  <%else %>
    <div class="col-12 col-12-mobilep align-center">
      <i class="fas fa-ban fa-7x"></i>
      <h2>Forbidden, what are you trying to do?</h2>
    </div>
  <% end
     end%>