<div class="col-12 col-12-narrower">
  <h3>Chat con <%=@chatter.nome + ' ' + @chatter.cognome  %></h3>
</div>

<% @messagges.each do |messagge| %>
  <%if messagge.mittente.to_s == current_user.id.to_s %>
    <div class="col-5 col-4-mobilep"></div>
    <div class="col-6 col-6-mobilep">
      <div class="message-content">
        <div class="align-right">
          <p>
            <%= messagge.testo %>
          </p>
          <div>
            <p>
              <%= messagge.data_ora.strftime("%d-%m-%Y %H:%M:%S") %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1 col-2-mobilep">
      <%= link_to '', edit_chat_messagge_path(messagge.chat_id, messagge.id), class: 'fas fa-edit fa-2x' %>
      <%= link_to '', chat_messagge_path(messagge.chat_id, messagge.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'far fa-trash-alt fa-2x' %>
    </div>
  <%else %>
    <div class="col-6 col-6-mobilep">
      <div class="message-content">
        <p>
          <%=@chatter.nome+': '+messagge.testo %>
        </p>
        <div class="align-right">
          <small>
            <%= messagge.data_ora.strftime("%d-%m-%Y %H:%M:%S") %>
          </small>
        </div>
      </div>
    </div>
    <div class="col-6 col-6-mobilep"></div>
  <%end %>
<% end %>
<div class="col-12 col-12-mobilep"><hr></div>

<%= render 'form', messagge: @messagge %>
