<%= form_with(model: hitch_hiker, local: true) do |form| %>
  <% if hitch_hiker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hitch_hiker.errors.count, "error") %> prohibited this hitch_hiker from being saved:</h2>

      <ul>
        <% hitch_hiker.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating_medio %>
    <%= form.text_field :rating_medio %>
  </div>

  <div class="field">
    <%= form.label :deleted %>
    <%= form.check_box :deleted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
