<h1>Hitch Hikers</h1>

<table>
  <thead>
    <tr>
      <th>Rating medio</th>
      <th>Deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hitch_hikers.each do |hitch_hiker| %>
      <tr>
        <td><%= hitch_hiker.rating_medio %></td>
        <td><%= hitch_hiker.deleted %></td>
        <td><%= link_to 'Show', hitch_hiker %></td>
        <td><%= link_to 'Edit', edit_hitch_hiker_path(hitch_hiker) %></td>
        <td><%= link_to 'Destroy', hitch_hiker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hitch Hiker', new_hitch_hiker_path %>
