<div class="col-12 col-12-narrower">
  <h2><strong>Trova il tuo passaggio!</strong></h2>
</div>

<%= form_for @search, html: {class: "pure-form"} do |s| %>
  <div class="row gtr-uniform">

    <div class="col-4 col-12-narrower">
      Città di partenza
      <%= s.text_field :c_partenza, :required => true, :value=>@c_part, placeholder: "Città di partenza" %>
    </div>

    <div class="col-4 col-12-narrower">
      Città di arrivo
      <%= s.text_field :c_arrivo, :required => true, :value=>@c_arr,placeholder: "Città di arrivo" %>
    </div>

    <div class="col-4 col-12-narrower">
      Data di partenza
      <%= date_field_tag :data, value= @data%>
    </div>
    <div class="col-4 col-12-narrower">
      Orario di partenza
      <%= time_field_tag :ora%>
    </div>

    <div class="col-4 col-12-narrower">
      Rating automobilista
      <%= s.number_field :rating, placeholder: "Rating automobilista" %>
    </div>

    <div class="col-4 col-12-narrower">
      Costo massimo
      <%= s.number_field :costo, placeholder: "Costo massimo" %>
    </div>

    <div class="col-4 col-12-narrower">
      Comfort minimo
      <%= s.number_field :comfort , placeholder: "Comfort minimo" %>
    </div>

    <div class="col-4 col-12-narrower">
     Tipo di mezzo
      <%= s.collection_select :tipo_mezzo, Vehicle::TIPI, :to_s, :to_s %>
    </div>

    <div class="col-4 col-12-narrower">
      Ordina per
      <%= s.select :sort_attribute, ['Costo','Comfort','Tempo di percorrenza'] %>
      <%= s.select :sort_order, ['Crescente','Decrescente'] %>
    </div>

    <div class="col-4 col-12-narrower">
      <%= s.check_box :multitrip , {}, true, false %>
      <%= s.label :multitrip, 'Senza cambi' %>
    </div>

    <div class="action col-12 col-12-narrower">
      <%= s.submit "Cerca tratta", class: "pure_button pure-button-primary" %>
    </div>
  </div>
<%end %>
<div class="action col-12 col-12-narrower"><hr></div>
<div class="action col-12 col-12-narrower">
  <%= link_to 'Back', root_path, class: "button special"%>
</div>