 <%=form_with(model: Journey.new(user_id: current_user.id), data:{multi_trip: @multi_trip}, method: "post") do |f| %>
    <div class="row gtr-uniform">
      <div class="col-12 col-12-mobilep">
        <% if @route.errors.any?%>
          <div id="error_explanation">
            <h2><%= pluralize(@route.errors.count, "error") %>prohibited this route from being saved:</h2>

            <ul>
              <% @route.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end%>
      </div>

      <% if @route.driver_id == current_user.id %>
        <p>Ehi, ma sei tu il guidatore!</p>
      <% else %>
        <div class="col-4 col-12-mobilep">
          <%= f.number_field(:n_passeggeri, in: 1.. @posti, placeholder: "Numero Passeggeri") %>
        </div>
        <%=f.fields_for :stage do |stages_form|%>
          <%= stages_form.hidden_field @route.id %>
        <% end %>

      <% if @route.already_booked(:id,current_user.id).empty? %>
        <div class="col-4 col-12-mobilep">
          <%= f.submit "Prenota"%>
        </div>
      <% end %>
    </div>
 <% end %>

<div class="col-12 col-12-mobilep"><hr></div>
<div class="col-12 col-12-mobilep">
  <%= link_to 'Annulla', routes_path, class: "button special" %>
</div>