<% if @booked_route %>
<%=form_with model: @journey do |f| %>
  <div class="row gtr-uniform">
    <div class="col-12 col-12-mobilep">
      <% if @route.errors.any?%>
        <div id="error_explanation">
          <h2><%= pluralize(@route.errors.count, "error") %>prohibited this route from being saved:</h2>

          <ul>
            <% @route.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end%>
    </div>
    <div class="col-12 col-12-mobilep">
      <%= link_to 'Visualizza profilo Driver', user_path(@route.driver_id) %>
    </div>
    <% if @route.driver_id == current_user.id %>
      <p>Ehi, ma sei tu il guidatore!</p>
    <% else %>
      <div class="col-6 col-12-mobilep">
        <%= f.number_field(:n_prenotati, in: 1.. @posti, placeholder: "Numero Passeggeri") %>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id%>

      <%= f.fields_for :stages do |f_stage| %>
        <%= f_stage.hidden_field :route_id %>
        <%= f_stage.hidden_field :journey_id %>
      <% end %>
        <div class="col-4 col-12-mobilep">
          <%= f.submit "Prenota"%>
        </div>
      <% end %>
    <% end %>
  </div>
<%end%>
<%unless @booked_route %>
    <%= form_with(model: Chat, local: true, method: "post") do |form| %>

      <div class="col-12 col-12-mobilep">
        <%= form.hidden_field :user_2_id, :value => @user.id %>
      </div>

      <div class="col-12 col-12-mobilep">
        <%= form.submit "Chatta con " + @user.nome%>
      </div>
  <%end%>
<%end%>

<div class="col-12 col-12-mobilep"><hr></div>
<div class="col-12 col-12-mobilep">
  <%= link_to 'Annulla', :back, class: "button special" %>
</div>