<%= form_with model: [@driver, route], local: true, html: {class: "row col-12 col-12-mobilep"} do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-4 col-12-mobilep">
    <%= form.label "Città di partenza" %>
    <%= form.text_field :citta_partenza, :required => true %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label "Luogo di ritrovo" %>
    <%= form.text_field :luogo_ritrovo, :required => true %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label "Data di partenza" %>
    <% if route.data_ora_partenza.nil?%>
      <%= date_field_tag :data_partenza, value = nil, :min => Date.current, :required => true %>
    <%else%>
      <%= date_field_tag :data_partenza, value = route.data_ora_partenza.strftime("%Y-%m-%d"), :min => Date.current, :required => true %>
    <%end %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label "Ora di partenza" %>
    <% if route.data_ora_partenza.nil?%>
      <%= time_field_tag :ora_partenza, :required => true %>
    <%else%>
      <%= time_field_tag :ora_partenza, value = route.data_ora_partenza.strftime("%H:%M"), :required => true %>
    <%end %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label "Città di arrivo" %>
    <%= form.text_field :citta_arrivo, :required => true %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label "Data di arrivo" %>
    <% if route.data_ora_arrivo.nil?%>
      <%= date_field_tag :data_arrivo, value = nil, :min => Date.current, :required => true %>
    <%else%>
      <%= date_field_tag :data_arrivo, value = route.data_ora_arrivo.strftime("%Y-%m-%d"), :min => Date.current, :required => true %>
    <%end %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label "Ora di arrivo" %>
    <% if route.data_ora_arrivo.nil?%>
      <%= time_field_tag :ora_arrivo, :required => true %>
    <%else%>
      <%= time_field_tag :ora_arrivo, value = route.data_ora_arrivo.strftime("%H:%M"), :required => true %>
    <%end %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :costo %>
    <%= form.text_field :costo, :required => true %>
  </div>

  <!--<div class="col-4 col-12-mobilep">
    < form.label "Tempo di percorrenza in minuti" %>
    < form.number_field :tempo_percorrenza, step: 5, :required => true %>
  </div> !-->
  <% if @route.n_passeggeri != 0 %>
    <div class="col-4 col-12-mobilep">
      <label> Tipo Pagamento </label>
      <%= form.check_box :contanti, :disabled => true %>
      <%= form.label :contanti, "Accetto Contanti" %>
    </div>
  <%else %>
    <div class="col-4 col-12-mobilep">
      <label> Tipo Pagamento </label>
      <%= form.check_box :contanti%>
      <%= form.label :contanti, "Accetto Contanti" %>
    </div>
  <%end %>

  <div class="col-4 col-12-mobilep">
    <%= form.label :vehicle_id %>
    <%= form.collection_select(:vehicle_id, Vehicle.where(driver_id: @driver.id), :id, :targa) %>
  </div>
  <hr class="col-12 col-12-mobilep">
  <div class="col-12 col-12-mobilep">
    <%= form.submit %>
  </div>
<% end %>

<script type="application/javascript">

  function compare(){
      var d_p= $("#data_partenza").val();
      var o_p= $("#ora_partenza").val();
      var d_a= $("#data_arrivo").val();
      var o_a= $("#ora_arrivo").val();
      console.log(d_p);
      console.log(o_p);

      if (d_p != null && o_p != null && d_a != null && o_a != null){
          var partenza = d_p + " " + o_p;
          var arrivo = d_a + " " + o_a;
          if (partenza > arrivo){
              alert("La data di arrivo non può essere antecedente a quella di partenza!");
          }
      }
  }

    $("#data_partenza").change(compare());
    $("#ora_partenza").change(compare());
    $("#data_arrivo").change(compare());
    $("#ora_arrivo").change(compare());

</script>