<div class="col-12 col-12-mobilep">
  <h3>Prenota</h3>
</div>

<div class="col-12 col-12-mobilep">
  <%= form_with(url: make_booking_route_path(@route), method: "patch") do |f| %>
    <div class="row gtr-uniform">
      <div class="col-12 col-12-mobilep">
        <% if @route.errors.any?%>
          <div id="error_explanation">
            <h2><%= pluralize(@route.errors.count, "error") %>prohibited this route from being saved:</h2>

            <ul>
              <% @route.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end%>
      </div>

      <% if @route.driver_id == current_user.id %>
        <p>Ehi, ma sei tu il guidatore!</p>
      <% else %>
        <div class="col-4 col-12-mobilep">
          <%= f.number_field(:n_passeggeri, in: 1.. @posti, placeholder: "Numero Passeggeri") %>
        </div>

        <div class="col-4 col-12-mobilep">
          <%= f.submit "Prenota"%>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-12 col-12-mobilep"><hr></div>
<div class="col-12 col-12-mobilep">
  <%= link_to 'Annulla', routes_path, class: "button special" %>
</div>