<div class="col-2 col-4-mobilep">
  <%= link_to 'Indietro', :back, class: "button icon solid fa-chevron-left" %>
</div>
<div class="col-10 col-8-mobilep">
  <h2><strong>Dettagli prenotazione</strong></h2>
</div>

<%unless notice.nil?
    if notice[0..18] == "Errore eliminazione"%>
    <div class="col-12 col-12-mobilep">
      <h2 style="color: #B00100"><%=notice %></h2>
    </div>
  <%end %>
<%end %>

<% if @multi_trip%>
  <!-- mostra prima tratta -->
  <div class="col-12 col-12-mobilep">
    <%= render 'detail_route', route: @route1 %>
  </div>
  <div class="col-12 col-12-mobilep">
    <%= link_to 'Visualizza profilo Driver', user_path(@driver1.id) %>
  </div>
  <div class="col-12 col-12-mobilep"><br></div>

  <!-- mostra seconda tratta -->
  <div class="col-12 col-12-mobilep">
    <%= render 'detail_route', route: @route2 %>
  </div>
  <div class="col-12 col-12-mobilep">
    <%= link_to 'Visualizza profilo Driver', user_path(@driver2.id) %>
  </div>
  <div class="col-12 col-12-mobilep"><br></div>

  <%= form_with model: @journey, html: {class: "row col-12 col-12-mobilep"} do |f| %>
    <% if @route1.errors.any? %>
      <div id="error_explanation" class="col-12 col-12-mobilep">
        <h2><%= pluralize(@route1.errors.count, "error") %>prohibited this route from being saved:</h2>
        <ul>
          <% @route1.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end%>

    <% if @route1.driver_id == current_user.driver_id || @route2.driver_id == current_user.driver_id %>
      <div class="col-12 col-12-mobilep">
        <p>Ehi, ma sei tu il guidatore!</p>
      </div>
    <% else %>
      <div class="col-12 col-12-mobilep">
        <%= f.hidden_field :user_id, :value => current_user.id%>
        <%= f.fields_for :stages do |f_stage| %>
          <%= f_stage.hidden_field :route_id %>
          <%= f_stage.hidden_field :journey_id %>
        <% end %>
      </div>
      <div class="col-4 col-12-mobilep">
        <% if @posti1 < @posti2 %>
          <%= f.number_field(:n_prenotati, in: 1.. @posti1, placeholder: "Numero Passeggeri") %>
        <% else %>
          <%= f.number_field(:n_prenotati, in: 1.. @posti2, placeholder: "Numero Passeggeri") %>
        <% end %>
      </div>

      <div class="col-4 col-12-mobilep">
        <%= f.submit "Prenota"%>
      </div>
    <% end %>
  <% end %>

  <!-- mancano i dati generali, tipo costo complessivo -->

<% else %>
  <!-- mostra tratta unica -->
  <div class="col-12 col-12-mobilep">
    <%= render 'detail_route', route: @route %>
  </div>
  <div class="col-12 col-12-mobilep"><br></div>
  <div class="col-12 col-12-mobilep">
    <%= link_to 'Visualizza profilo Driver', user_path(@driver.id) %>
  </div>
  <div class="col-12 col-12-narrower"><br></div>
  <!-- scegli il numero di posti -->
  <% if @booked_route == 3 %>
    <%=form_with model: @journey, html: {class: "row col-12 col-12-mobilep"} do |f| %>
      <div class="col-12 col-12-mobilep">
        <% if @route.errors.any?%>
          <div id="error_explanation">
            <h2><%= pluralize(@route.errors.count, "error") %>prohibited this route from being saved:</h2>
            <ul>
              <% @route.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end%>
      </div>
      <% if @route.driver_id == current_user.driver_id %>
        <p>Ehi, ma sei tu il guidatore!</p>
      <% else %>
        <div class="col-6 col-12-mobilep">
          <%= f.number_field(:n_prenotati, in: 1.. @posti, placeholder: "Numero Passeggeri") %>
        </div>
        <%= f.hidden_field :user_id, :value => current_user.id%>

        <%= f.fields_for :stages do |f_stage| %>
          <%= f_stage.hidden_field :route_id %>
          <%= f_stage.hidden_field :journey_id %>
        <% end %>
        <div class="col-4 col-12-mobilep">
          <%= f.label :vehicle_id %>
          <%= f.collection_select(:pay_method_id, PayMethods.where(user_id: current_user.id), :numero, :id) %>
        </div>
        <div class="col-4 col-12-mobilep">
          <%= f.submit "Prenota"%>
        </div>
      <% end %>
    <% end %>
    <div class="col-12 col-12-mobilep"><br></div>
  <%elsif @booked_route == 1 %>
    <%= form_with(model: Chat, local: true, method: "post") do |form| %>
      <%= form.hidden_field :user_2_id, :value => @user.id %>
      <div class="col-12 col-12-mobilep">
        <%= form.submit "Chatta con " + @user.nome%>
      </div>
    <%end%>
    <hr class="col-12 col-12-mobile">
    <div class="col-12 col-12-mobile">
      <%= link_to 'Annulla prenotazione', journey_path(id: params[:j_id], r_id: params[:id]), method: :delete, data: { confirm: 'Sicuro di voler annullare la prenotazione a questo viaggio?' }, class: "button special" ,title: 'Anulla prenotazione'%>
    </div>
  <%end%>
<% end %>

