<div class="col-2 col-4-mobilep">
  <%= link_to 'Indietro', :back, class: "button icon solid fa-chevron-left" %>
</div>

<div class="col-10 col-8-mobilep">
  <h2><strong>Dettagli percorso</strong></h2>
</div>

<!-- dati generali -->
<div class="col-10 col-8-mobilep">
  <h3>
    <strong> Da <%= @routes.first.citta_partenza %> a <%= @routes.last.citta_arrivo%> </strong>
    <br/>
      Durata totale: <%= @routes.sum {|x| + x.tempo_percorrenza } %> minuti
    <p></p>
      Costo totale a persona: <%= @routes.sum {|x| + x.costo}  %>
  </h3>
</div>

<!-- mostra i dettagli di ogni tratta -->

<% @routes.each_with_index do |route, index| %>

  <div class="col-12 col-12-mobilep">
    <%= render 'detail_route', route: route, posti: @seats[index]%>
  </div>
  <div class="col-12 col-12-mobilep">
    <%= link_to 'Visualizza profilo Driver', user_path(@drivers[index]) %>
  </div>
  <div class="col-12 col-12-mobilep"><br></div>

<% end %>

<div class="col-6 col-12-mobilep">
    <div class="col-4 col-12-mobilep">
      <%= link_to "Continua", new_journey_path(ids: @routes.map {|r| r.id}), class: "button icon solid fa-chevron-right" %>
    </div>
</div>






