<div class="col-12 col-12-mobilep">
  <h2><strong>Dettagli prenotazione</strong></h2>
</div>


<% if @multi_trip%>
  <!-- mostra prima tratta -->
  <div class="col-12 col-12-mobilep">
    <%= render 'detail_route', route: @route1 %>
  </div>
  <div class="col-12 col-12-mobilep">
    <%= link_to 'Visualizza profilo Driver', user_path(@driver1.id) %>
  </div>
  <div class="col-12 col-12-mobilep"><br></div>

  <!-- mostra seconda tratta -->
  <div class="col-12 col-12-mobilep">
    <%= render 'detail_route', route: @route2 %>
  </div>
  <div class="col-12 col-12-mobilep">
    <%= link_to 'Visualizza profilo Driver', user_path(@driver2.id) %>
  </div>
  <div class="col-12 col-12-mobilep"><br></div>

  <%= form_with model: @journey, html: {class: "row col-12 col-12-mobilep"} do |f| %>
    <% if @route1.errors.any? %>
      <div id="error_explanation" class="col-12 col-12-mobilep">
        <h2><%= pluralize(@route1.errors.count, "error") %>prohibited this route from being saved:</h2>
        <ul>
          <% @route1.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end%>

    <% if @route1.driver_id == current_user.driver_id || @route2.driver_id == current_user.driver_id %>
      <div class="col-12 col-12-mobilep">
        <p>Ehi, ma sei tu il guidatore!</p>
      </div>
    <% else %>
      <div class="col-12 col-12-mobilep">
        <%= f.hidden_field :user_id, :value => current_user.id%>
        <%= f.fields_for :stages do |f_stage| %>
          <%= f_stage.hidden_field :route_id %>
          <%= f_stage.hidden_field :journey_id %>
        <% end %>
      </div>
      <div class="col-4 col-12-mobilep">
        <% if @posti1 < @posti2 %>
          <%= f.number_field(:n_prenotati, in: 1.. @posti1, placeholder: "Numero Passeggeri") %>
        <% else %>
          <%= f.number_field(:n_prenotati, in: 1.. @posti2, placeholder: "Numero Passeggeri") %>
        <% end %>
      </div>

      <div class="col-4 col-12-mobilep">
        <%= f.submit "Prenota"%>
      </div>
    <% end %>
  <% end %>

  <div class="col-12 col-12-mobilep"><hr></div>
  <div class="col-12 col-12-mobilep">
    <%= link_to 'Annulla', root_path, class: "button special" %>
  </div>

  <!-- mancano i dati generali, tipo costo complessivo -->

<% else %>
  <!-- mostra tratta unica -->
  <div class="col-12 col-12-narrower">
    <%= render 'detail_route', route: @route %>
  </div>
  <div class="col-12 col-12-mobilep">
    <%= link_to 'Visualizza profilo Driver', user_path(@driver.id) %>
  </div>
  <!-- scegli il numero di posti -->
  <div class="col-12 col-12-mobilep">
    <%= render 'booking', route: @route %>
  </div>
<% end %>

