<div class="col-12 col-12-mobilep">
  <h3>Routes</h3>
</div>

<%= form_tag routes_path, :method => 'get' do  %>
  <div class="row gtr-uniform">
    <div class="col-6 col-12-mobilep">
      <%= text_field_tag :search, params[:search], placeholder: 'città di partenza' %>
    </div>

    <div class="col-6 col-12-mobilep">
      <%= submit_tag "Cerca tratta" %>
    </div>
  </div>
<%end %>

<div class="col-6 col-12-mobilep">
  <%= link_to "Ricerca avanzata con filtri", new_search_path, class: "button" %>
</div>
<div class="col-12 col-12-mobilep"><hr></div>

<div class="table-wrapper">
<table>
  <thead>
  <tr>
    <th>Citta partenza</th>
    <th>Luogo ritrovo</th>
    <th>Data ora partenza</th>
    <th>Citta arrivo</th>
    <th>Data ora arrivo</th>
    <th>Costo</th>
    <th>Tempo di percorrenza</th>
    <th>Posti già prenotati</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @routes.each do |route| %>
    <tr>
      <td><%= route.citta_partenza %></td>
      <td><%= route.luogo_ritrovo %></td>
      <td><%= route.data_ora_partenza %></td>
      <td><%= route.citta_arrivo %></td>
      <td><%= route.data_ora_arrivo %></td>
      <td><%= route.costo %></td>
      <td><%= route.tempo_percorrenza %></td>
      <td><%= route.n_passeggeri %></td>
      <td><%= link_to 'Prenota ora!', booking_route_path(route), class: "button"%></td>
      <!--<td>%= link_to 'Edit', edit_route_path(route) %</td>-->
      <!--td%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %/td>-->
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<br>

<!--%= link_to 'New Route', new_route_path %-->
