
<p>
  <strong>Citta partenza:</strong>
  <%= @route.citta_partenza %>
</p>

<p>
  <strong>Luogo ritrovo:</strong>
  <%= @route.luogo_ritrovo %>
</p>

<p>
  <strong>Data ora partenza:</strong>
  <%= @route.data_ora_partenza %>
</p>

<p>
  <strong>Citta arrivo:</strong>
  <%= @route.citta_arrivo %>
</p>

<p>
  <strong>Data ora arrivo:</strong>
  <%= @route.data_ora_arrivo %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @route.costo %>
</p>

<p>
  <strong>Tempo di percorrenza:</strong>
  <%= @route.tempo_percorrenza %>
</p>

<p>
  <strong>Posti prenotati</strong>
  <%= @route.n_passeggeri %>
</p>

<%= link_to 'Edit', edit_driver_route_path(@driver, @route) %> |
<%= link_to 'Back', journey_driver_routes_path(@driver) %>
