<%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
        <% driver.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating_medio %>
    <%= form.text_field :rating_medio %>
  </div>

  <div class="field">
    <%= form.label :deleted %>
    <%= form.check_box :deleted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
