<p id="notice"><%= notice %></p>

<p>
  <strong>Rating medio:</strong>
  <%= @driver.rating_medio %>
</p>

<h2>Tratte</h2>
<% for route in @driver.routes%>
  <ul>
    <li><%= route.id %></li>
  </ul>
<%end%>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
<%= button_to "Mostra Veicoli", driver_vehicles_path(@driver), :method => :get %>
<%= button_to 'Add Route', new_driver_route_path(@driver), :method => :get %>
