<p id="notice"><%= notice %></p>

<p>
  <strong>Rating medio:</strong>
  <%= @driver.rating_medio %>
</p>

<h2>Veicoli</h2>
<% for vehicle in @driver.vehicles %>
  <ul>
    <li><%= vehicle.targa %><li>
  </ul>
<% end %>

<h2>Tratte</h2>
<% for route in @driver.routes%>
  <ul>
    <li><%= route.id %></li>
  </ul>
<%end%>

<p>
  <strong>Deleted:</strong>
  <%= @driver.deleted %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Add Vehicle', driver_vehicles_path(@driver) %> |
<%= link_to 'Add Route', new_driver_route_path(@driver) %> |
<%= link_to 'Back', drivers_path %>