<%= form_with model: [@driver, vehicle], local: true, html: {class: "row col-12 col-12-mobilep"} do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation" class="col-12 col-12-mobilep">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-4 col-12-mobilep">
    <%= form.label :targa %>
    <%= form.text_field :targa %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :modello %>
    <%= form.text_field :modello %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :tipo_mezzo, 'Tipo di mezzo' %>
    <%= form.collection_select :tipo_mezzo, Vehicle::TIPI, :to_s, :to_s %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :immatricolazione %>
    <%= form.text_field :immatricolazione, onfocus: "(this.type='date')", onblur: "(this.type='text')" %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :comfort %>
    <%= form.number_field :comfort %>
  </div>

  <div class="col-4 col-12-mobilep">
    <%= form.label :posti %>
    <%= form.number_field :posti %>
  </div>

  <hr class="col-12 col-12-mobilep">

  <div class="col-4 col-12-mobilep">
    <%= form.submit %>
  </div>
<% end %>
