
<p>
  <strong>Targa:</strong>
  <%= @vehicle.targa %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @vehicle.marca %>
</p>

<p>
  <strong>Modello:</strong>
  <%= @vehicle.modello %>
</p>

<p>
  <strong>Tipo di mezzo:</strong>
  <%= @vehicle.tipo_mezzo %>
</p>

<p>
  <strong>Immatricolazione:</strong>
  <%= @vehicle.immatricolazione %>
</p>

<p>
  <strong>Comfort:</strong>
  <%= @vehicle.comfort %>
</p>

<p>
  <strong>Posti:</strong>
  <%= @vehicle.posti %>
</p>


<%= link_to 'Modifica', edit_driver_vehicle_path(@driver, @vehicle) %> |
<%= link_to 'Indietro', driver_vehicles_path(@driver) %>
