<p id="notice"><%= notice %></p>

<p>
  <strong>Targa:</strong>
  <%= @vehicle.targa %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @vehicle.marca %>
</p>

<p>
  <strong>Modello:</strong>
  <%= @vehicle.modello %>
</p>

<p>
  <strong>Immatricolazione:</strong>
  <%= @vehicle.immatricolazione %>
</p>

<p>
  <strong>Comfort:</strong>
  <%= @vehicle.comfort %>
</p>

<p>
  <strong>Posti:</strong>
  <%= @vehicle.posti %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @vehicle.deleted %>
</p>

<%= link_to 'Edit', edit_driver_vehicle_path(@driver, @vehicle) %> |
<%= link_to 'Back', driver_vehicles_path(@driver) %>
