<%= form_with(model: journey, html: {class: "row col-12 col-12-mobilep"}, local: true) do |f| %>
  <% if journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journey.errors.count, "error") %> prohibited this passenger_association from being saved:</h2>

      <ul>
        <% journey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="action col-12 col-12-narrower"><hr></div>
  <div class="col-4 col-12-narrower">
	  <strong>Numero passeggeri</strong> 
    <%= f.number_field(:n_prenotati, in: 1.. @seats.max(), placeholder: "Numero Passeggeri") %>
    <br/>
  </div>
  <div class="col-4 col-12-narrow">
    <strong>Metodo di pagamento</strong>
    <%= f.collection_select(:pay_method_id, @pay_methods, :id, :numero) %>
    <br/>
  </div>
  <div class="action col-12 col-12-narrow">
	  <label><br/></label>
    <%= link_to 'Aggiungi metodo di pagamento',new_user_pay_method_path(user_id: current_user), class: 'button'%>
    <script src="app/assets/js/route.js">  </script>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id%>

  <%= f.fields_for :stages do |f_stage| %>
    <%= f_stage.hidden_field :route_id %>
    <%= f_stage.hidden_field :journey_id %>
  <% end %>
  <div><br></div>
  <div class=" action col-12 col-12-narrow">
    <%= f.submit "Prenota"%>
  </div>
<% end %>
