<h1>Ciao :3 </h1>

  <%= @journey.id %>
  <% @journey.stages.each do |stage| %>
    <%= stage.id %>
    <%= stage.route.driver_id %>
  <%end %>


<%= form_with model: [@driver, @journey], local: true do |form| %>
  <!--% if @journeys.any? %>
    <div id="error_explanation">
      <h2><= pluralize(@journey.errors.count, "error") %> prohibited this passenger_association from being saved:</h2>

      <ul>
        <@journey.errors.full_messages.each do |message| %>
          <li>%= message %></li>
        < end %>
      </ul>
    </div>
  < end %-->

  <%= form.fields_for :stages do |f_stage| %>
    <%= f_stage.hidden_field :route_id %>
    <%= f_stage.hidden_field :journey_id %>
  <% end %>

  <div class="actions">
    <%= form.submit "Accetta", class: "btn btn-outline-success" %>
    <%= form.submit "Rifiuta", class: "btn btn-outline-danger" %>
  </div>
<% end %>

<!--
<render 'form', passenger_association: @passenger_association %>

< link_to 'Show', @passenger_association %> |
< link_to 'Back', passenger_associations_path %>
-->
