<div class="col-12 col-12-mobile">
  <h3>Abbiamo una notizia cattiva e una buona..</h3>
  <h1><a>La cattiva notizia è che la tua partecipazione alla tratta </a><%= @rejected_stage.route.citta_partenza%>-<%=@rejected_stage.route.citta_arrivo%><a> del viaggio è stata rifiutata :(</a></h1>
  <h1><a>La buona notizia è che il driver della tratta </a><%= @accepted_stage.route.citta_partenza%>-<%=@accepted_stage.route.citta_arrivo%><a> ha invece accettato di viaggiare con te!! :)</a></h1>
  <h1>Preferisci cercare una nuova tratta che sostituisca quella che ti è stata rifiutata o vuoi disdire la prenotazione della tratta che è già stata accettata per cercare un viaggio ex novo?</h1>
  </div>
<div class="col-12 col-12-mobile">
  <%= link_to 'Completa viaggio esistente', new_search_path(c_part: @rejected_stage.route.citta_partenza, c_arr: @rejected_stage.route.citta_arrivo, data_ora: @rejected_stage.route.data_ora_partenza),class: "button special" ,title: 'Completa il viaggio'%>
  <% if @first %>
    <%= link_to 'Cerca nuovo viaggio', stage_path(j_id: params[:j_id], id: @accepted_stage.id, c_part: @accepted_stage.route.citta_partenza,c_arr: @rejected_stage.route.citta_arrivo,data: @accepted_stage.route.data_ora_partenza),  method: :delete, data: { confirm: 'Sicuro di voler annullare la prenotazione già accettata e cercare un nuovo viaggio?' }, class: "button special" ,title: 'Cerca nuovo viaggio' %>
    <% else %>
  <%= link_to 'Cerca nuovo viaggio', stage_path(j_id: params[:j_id], id: @accepted_stage.id, c_part: @rejected_stage.route.citta_partenza,c_arr: @accepted_stage.route.citta_arrivo,data: @rejected_stage.route.data_ora_partenza),  method: :delete, data: { confirm: 'Sicuro di voler annullare la prenotazione già accettata e cercare un nuovo viaggio?' }, class: "button special" ,title: 'Cerca nuovo viaggio' %>
<%end %>
</div>