<div class="col-2 col-4-mobilep">
  <%= link_to 'Indietro', :back, class: "button icon solid fa-chevron-left"%>
</div>
<div class="col-12 col-12-mobilep"><br></div>
<div style="margin-left: 70px" class="col-10 col-8-mobilep">
  <h2><strong>Prenota il viaggio</strong></h2>
<% @routes.each do |route| %>
  <div class="col-12 col-12-mobilep">
    <h2><strong><%= route.citta_partenza %> - <%= route.citta_arrivo%> </strong></h2>
  </div>
  <div class="col-12 col-12-mobilep"><br></div>
<%end %>
</div>
<div style="margin-left: 75px" class="col-10 col-8-mobilep">
  <h3>
    Costo totale a persona: <%= @routes.sum {|x| + x.costo}  %>
  </h3>
</div>

<%= render 'form', journey: @journey %>

