<%= form_with(model: multi_trip, local: true) do |form| %>
  <% if multi_trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(multi_trip.errors.count, "error") %> prohibited this multi_trip from being saved:</h2>

      <ul>
        <% multi_trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data_ora_partenza %>
    <%= form.datetime_select :data_ora_partenza %>
  </div>

  <div class="field">
    <%= form.label :citta_partenza %>
    <%= form.text_field :citta_partenza %>
  </div>

  <div class="field">
    <%= form.label :data_ora_arrivo %>
    <%= form.datetime_select :data_ora_arrivo %>
  </div>

  <div class="field">
    <%= form.label :citta_arrivo %>
    <%= form.text_field :citta_arrivo %>
  </div>

  <div class="field">
    <%= form.label :costo_totale %>
    <%= form.number_field :costo_totale %>
  </div>

  <div class="field">
    <%= form.label :comfort_medio %>
    <%= form.text_field :comfort_medio %>
  </div>

  <div class="field">
    <%= form.label :numero_cambi %>
    <%= form.number_field :numero_cambi %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
