<p>
  <strong>Data ora partenza:</strong>
  <%= @multi_trip.data_ora_partenza %>
</p>

<p>
  <strong>Citta partenza:</strong>
  <%= @multi_trip.citta_partenza %>
</p>

<p>
  <strong>Data ora arrivo:</strong>
  <%= @multi_trip.data_ora_arrivo %>
</p>

<p>
  <strong>Citta arrivo:</strong>
  <%= @multi_trip.citta_arrivo %>
</p>

<p>
  <strong>Costo totale:</strong>
  <%= @multi_trip.costo_totale %>
</p>

<p>
  <strong>Comfort medio:</strong>
  <%= @multi_trip.comfort_medio %>
</p>

<p>
  <strong>Numero cambi:</strong>
  <%= @multi_trip.numero_cambi %>
</p>

<%= link_to 'Edit', edit_multi_trip_path(@multi_trip) %> |
<%= link_to 'Back', multi_trips_path %>
