<%= form_with(model: review, local: true, method: "post", class: "col-12 col-12-narrower") do |form| %>
  <%unless review.nil?
    if review.errors.any? %>
    <div id="error_explanation" class="col-12 col-12-mobilep">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end
  end%>

  <div class="col-12 col-12-mobilep">
    <% 1.upto(5) do |i| %>
      <%= radio_button_tag :vote, i %>
      <%= label_tag("vote_"+i.to_s, i) %>
    <% end %>
  </div>

  <div class="col-12 col-12-mobilep">
    <%= form.text_area :commento, placeholder: "Scrivi qua un commento per il guidatore, ricorda che lo leggeranno anche altri autostoppisti" %>
  </div>

  <div class="col-12 col-12-mobilep">
    <%= form.submit %>
  </div>
<% end %>
