<div class="col-2 col-4-mobilep ">
  <%= link_to 'Back', user_path(params[:user_id]), class: "button icon solid fa-chevron-left"%>
</div>
<div class="col-5 col-8-mobilep">
  <h2>Recensioni guidatore</h2>
</div>
<div class="col-5 col-12-mobilep">
  <%= link_to 'Scrivi una recensione a '+@user.nome + ' ' + @user.cognome, new_review_path(user_id: params[:user_id]), {class: 'button'} %>
</div>
<hr class="col-12 col-12-mobilep">

<% if @reviews.present?
     @reviews.each do |review| %>
    <div class="col-12 col-12-mobilep">
      <%= review.user.nome %> in data: <%= review.data.strftime("%d-%m-%Y alle: %H:%M:%S") %>
    </div>
    <div class="col-12 col-12-mobilep">
      voto: <%= review.vote %> su 5
    </div>
    <div class="col-12 col-12-mobilep">
      <h4><strong><%= review.commento %></strong></h4>
    </div>
    <div class="col-12 col-12-mobilep"><br></div>
  <% end
     else%>
  <div class="col-12 col-12-mobilep">
    <h3>Non c'&egrave; ancora nessuna recensione qua <i class="far fa-sad-tear fa-3x"></i></h3>
    <h3>Scrivi tu la prima recensione per questo guidatore cliccando sul bottone in alto</h3>
  </div>
<%end%>