
<p>
  <strong>Data:</strong>
  <%= @review.data %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Commento:</strong>
  <%= @review.commento %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @review.deleted %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
