<!DOCTYPE html>
<html>
<head>
  <title>PassageOnRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <%= stylesheet_link_tag 'css/main.css' %>
</head>
<body class="landing is-preload">
<div id="page-wrapper">
  <header id="header" class="alt">
    <h1><%= link_to 'Passage on Rails' , main_app.root_path %></h1>
    <nav id="nav">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to pluralize(Notification.unread_count(current_user), 'Notification'), notifications_path %></li>
          <li><%= link_to 'Home', main_app.root_path %></li>
          <li><%= link_to 'Cerca Tratta', main_app.new_search_path %></li>
          <li>
            <a href="#" class="icon solid fa-angle-down">Welcome <%= current_user.nome %></a>
            <ul>
              <li><%= link_to 'Il tuo profilo', main_app.user_path(current_user.id)%></li>
              <li><%= link_to 'Le tue chat', main_app.chats_path%></li>
              <li><%= link_to 'Le tue prenotazioni', main_app.user_bookings_path(current_user.id)%></li>
              <%if current_user.driver_id? %>
                <li><%= link_to 'Le tue tratte',  main_app.driver_routes_path(current_user.driver_id)%></li>
                <li><%= link_to 'I tuoi veicoli',  main_app.driver_vehicles_path(current_user.driver_id)%></li>
                <li><%= link_to 'Non essere più driver', main_app.driver_confirm_destroy_url(current_user.driver_id)%></li>
              <%else %>
                <li><%= link_to 'Diventa driver!',  main_app.new_driver_path%></li>
              <%end %>
              <li><%= link_to 'Esci', '/user/sign_out'%></li>
            </ul>
          </li>
        <%else%>
          <li><%= link_to 'Registrati/Accedi', main_app.new_user_session_url, {class: 'button'}%></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <section id="main" class="container">
    <% if user_signed_in? %>
      <%if current_user.driver_id? and current_user.driver.vehicles.empty? and controller_name != 'vehicles' %>

        <div class="info">
          <div class="col-12 col-12-narrower">
        <i>Ciao <%= current_user.nome %>, attualmente sei un driver ma non hai nessun veicolo inserito!</i>

            |<%= link_to ' Aggiungi veicolo ', new_driver_vehicle_url(current_user.driver_id)%>|
            |<%= link_to ' Non essere più driver ', driver_url(current_user.driver_id)%>|
          </div>
        </div>
      <%end %>
    <%end %>

    <div class="row">
      <div class="col-12">
        <section class="box">
          <div class="row">
            <%= yield %>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>

<!-- Scripts -->
<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'jquery.dropotron.min.js' %>
<%= javascript_include_tag 'jquery.scrollex.min.js' %>
<%= javascript_include_tag 'browser.min.js' %>
<%= javascript_include_tag 'breakpoints.min.js' %>
<%= javascript_include_tag 'util.js' %>
<%= javascript_include_tag 'main.js' %>

</body>
</html>