<!DOCTYPE html>
<html>
<head>
  <title>Progetto</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <%= stylesheet_link_tag 'css/main.css' %>
</head>
<body class="landing is-preload">
<div id="page-wrapper">
  <header id="header" class="alt">
    <h1><%= link_to 'Passage on Rails' , root_path%></h1>
    <nav id="nav">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Cerca Tratta', routes_path %></li>
          <li>
            <a href="#" class="icon solid fa-angle-down">Welcome <%= current_user.nome %></a>
            <ul>
              <li><%= link_to 'Il tuo profilo', user_path(current_user.id)%></li>
              <li><%= link_to 'Le tue chat', chats_path%></li>
              <li><%= link_to 'Le tue prenotazioni', root_path%></li>
              <%if current_user.driver_id? %>
                <li><%= link_to 'Le tue tratte',  journey_driver_routes_path(current_user.driver_id)%></li>
                <li><%= link_to 'I tuoi veicoli',  driver_vehicles_path(current_user.driver_id)%></li>
                <i><%= link_to 'Non essere più driver', driver_url(current_user.driver_id), method: :delete%></i>
              <%else %>
                <li><%= link_to 'Diventa driver!',  new_driver_path%></li>
              <%end %>
              <li><%= link_to 'Esci', '/user/sign_out', data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </li>
        <%else%>
          <li><%= link_to 'Registrati/Accedi', new_user_session_url, {class: 'button'}%></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <section id="main" class="container">
    <% if user_signed_in? %>
      <%if current_user.driver_id? and Vehicle.find_by_driver_id(current_user.driver_id)==nil and controller_name != 'vehicles' %>

        <div class="box">
          <h3>Ciao <%= current_user.nome %>, attualmente sei un driver ma non hai nessun veicolo inserito!<br/></h3>
          <p>
            <%= link_to 'Aggiungi veicolo', new_driver_vehicle_url(current_user.driver_id), class: "button"%>
            &nbsp;
            <%= link_to 'Non essere più driver', driver_url(current_user.driver_id), method: :delete, class: "button" %>
          </p>
        </div>
      <%end %>
    <%end %>

    <div class="row">
      <div class="col-12">
        <section class="box">
          <div class="row">
            <%= yield %>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>

<!-- Scripts -->
<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'jquery.dropotron.min.js' %>
<%= javascript_include_tag 'jquery.scrollex.min.js' %>
<%= javascript_include_tag 'browser.min.js' %>
<%= javascript_include_tag 'breakpoints.min.js' %>
<%= javascript_include_tag 'util.js' %>
<%= javascript_include_tag 'main.js' %>

</body>
</html>